<!DOCTYPE html>
<html>
    <head>
        <title>Live Translator</title>
    </head>

    <body>

        {% csrf_token %}

        <h1>AI Live Translator</h1>

        <button id="start-btn">
            Start Listening
        </button>

        <h2>Original Speech</h2>
        <p id="original-text">
            ...
        </p>


        <h2>Translation</h2>
        <p id="translated-text">
            ...
        </p>


        {% load static %}
        <script src="{% static 'translator/js/app.js' %}"></script>

    </body>
</html>